/*
Project Name: Sonic Architects Website
Client: Sonic Architects
Author: Vanda Illyes
Developer @GA in LDN
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 32px;
  background-color: #F4F4F6;
}

a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
}

/* Classes used by jQuery */
.visuallyhidden {
  display: none;
}

/* Animations */

/* Tilt hamburger */
@keyframes tilt-me {
  50%   {
  -ms-transform: rotateZ(30deg);
  -webkit-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
  }
}

@-webkit-keyframes tilt-me {
  50%   {
  -ms-transform: rotateZ(30deg);
  -webkit-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
  }
}
.menu-icon:hover {
  -webkit-animation-name: tilt-me;
  -moz-animation-name: tilt-me;
  -ms-animation-name: tilt-me;
  -o-animation-name: tilt-me;
  animation-name: tilt-me;

  animation-iteration-count: 1;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

/* Move menu items */
@keyframes move-me {
  50%   {
  -ms-transform: translate(-7px);
  -webkit-transform: translate(-7px);
  transform: translate(-7px);
  }
}

@-webkit-keyframes move-me {
  50%   {
  -ms-transform: translate(-7px);
  -webkit-transform: translate(-7px);
  transform: translate(-7px);
  }
}

.menu li a:hover {
  -webkit-animation-name: move-me;
  -moz-animation-name: move-me;
  -ms-animation-name: move-me;
  -o-animation-name: move-me;
  animation-name: move-me;

  animation-iteration-count: 1;
  animation-duration: 650ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


/******************************************
/* ADDITIONAL STYLES
/******************************************/

/**********************
/* ABOUT US PAGE
/**********************/

/* Header */
header {
  height: 55px;
  background-color: rgba(225, 223, 223, 0.63);
  width: 100%;
  margin: 0;
}
  .logo-icon-holder {
    float: left;
    margin: 5px 1px 0 10px;
  }
    .logo-icon {
      height: 40px;
      width: 40px;
    }
  .logo-text-holder {
    float: left;
    margin: 14px 0 0 2px;
  }
    .logo-text {
      font-size: 0.8em;
      font-weight: 700;
      color: #000;
      letter-spacing: 0.5px;
      text-shadow: 1px 1px 1px #403F4C;
    }
  .menu-icon {
    padding-bottom: 3px;
  }
    .menu-icon-holder {
      float: right;
      margin: 12px 5px 0 0;
    }
  .menu {
    margin: -8px 0 0 0;
    width: 100%;
    height: 153px;
    padding: 0;
    text-align: center;
    background-color: rgba(225, 223, 223, 0.63);
  }
    .menu li {
      padding: 0;
      width: 95%;
      margin: 0 10px;
      display: block;
      float: right;
      height: 30px;
      padding: 0;
    }
    .services,
    .equipment,
    .engineers,
    .contact {
      clear: right;
    }
    .aboutus,
    .services,
    .equipment,
    .engineers {
      border-bottom: 1px #66666E solid;
    }
      .menu li a {
        color: #000;
        font-size: 0.5em;
        font-weight: 400;
        padding: 0;
        display: block;
        text-align: right;
      }

/* Photo Lane */
.photo-lane {
  background: url(../images/equipment_bg.jpeg) no-repeat center #E3E3E5;
  background-size: cover;
  height: 0;
  padding-bottom: 65%;
}

/* Equipment */
.equipment-box {
  background-color: #F4F4F6;
  margin: 20px 0;
}
.microphones-button,
.outboard-button,
.control-room-button,
.instruments-button,
.software-button,
.other-button {
  text-align: center;
  border: 1px #9999A1 solid;
  border-bottom: 3px #9999A1 solid;
  border-radius: 2px;
  background-color: #E3E3E5;
  font-size: 0.5em;
  font-weight: 400;
  margin: 10px auto 20px auto;
  padding: 5px;
  width: 250px;
}

.microphones-button:hover,
.outboard-button:hover,
.control-room-button:hover,
.instruments-button:hover,
.software-button:hover,
.other-button:hover {
  background-color: #F5BB00;
  border: 1px solid #c49500;
  border-bottom: 3px solid #c49500;
}

.equipment-categories div a {
  color: #000;
}
.microphones-list,
.outboard-list,
.control-room-list,
.instruments-list,
.software-list,
.other-list {
  width: 90%;
  margin: 0 auto;
}
.equipment-categories div ul {
  padding-bottom: 10px;
}
.equipment-categories div li {
  font-size: 0.45em;
  font-weight: 400;
  color: #000;
  text-align: center;
}

/* Social Media */
.social-media {
background-color: #F4F4F6;
padding: 20px 0;
}
.social-media-container-1 {
  float: left;
  text-align: center;
  position: relative;
  width: 50%;
  height: 50px;
}
  .facebook {
    float: left;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 140px;
  }
  .twitter {
    float: left;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 75px;
  }
  .instagram {
    float: left;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
  }
.social-media-container-2 {
  float: right;
  position: relative;
  width: 50%;
  height: 50px;
}
  .linkedin {
    float: right;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
  }
  .googleplus {
    float: right;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 75px;
  }
  .youtube {
    float: right;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 140px;
  }

.social-media-icon:hover {
  opacity: 0.6;
  transition: all 0.4s 0.2s ease-out;
}

/* Contact Info */
.contact-info {
  background-color: #E3E3E5;
}
  .contact-logo {
    font-size: 0.5em;
    font-weight: 400;
    color: #000;
    letter-spacing: 1.4px;
    margin: 2px auto;
    text-align: center;
  }
  .contact-info ul li {
    list-style: none;
    color: #000;
    font-size: 0.4375em;
    font-weight: 400;
    margin: 2px auto;
    text-align: center;
  }

/* Footer */
footer {
  background-color: #66666E;
  color: #FFF;
  font-size: 9px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0 10px 0;
  clear: both;
}
footer p a:link,
footer p a:visited,
footer p a:hover,
footer p a:active {
  text-decoration: none;
  color: #FFF;
}

/*Responsiveness to various screen sizes*/

/*For screens above 375px*/
@media screen and (min-width:375px) {
  .menu {
    height: 190px;
  }
  .menu li {
    margin-top: 3px;
  }
}

/*For screens above 400px*/
@media screen and (min-width:400px) {
  .menu-icon-holder {
    margin-right: 10px;
  }
  .menu {
    height: 205px;
  }
  .menu li {
    margin-top: 5px;
  }
}

/*For screens above 425px*/
@media screen and (min-width:425px) {
  .menu {
    height: 222px;
  }
}

/*For screens above 450px*/
@media screen and (min-width:450px) {
  .menu {
    height: 212px;
  }
  .photo-lane {
    padding-bottom: 59%;
  }
}

/*For screens above 500px*/
@media screen and (min-width:500px) {
  .photo-lane {
    padding-bottom: 53%;
  }
}

/*For screens above 550px*/
@media screen and (min-width:550px) {
  .logo-text {
    padding-left: 5px;
    letter-spacing: 1.8px;
  }
  .menu {
    height: 220px;
  }
  .photo-lane {
    padding-bottom: 50%;
  }
  /*.equipment-categories {
    position: relative;
  }*/
  .microphones-button,
  .outboard-button,
  .control-room-button,
  .instruments-button,
  .software-button,
  .other-button {
    text-align: right;
    border: none;
    background-color: #F4F4F6;
    font-size: 0.5em;
    font-weight: 400;
    margin: 0 0 0 10px;
    padding: 5px;
    float: left;
    clear: left;
    width: 48%;
  }
  .microphones-button,
  .outboard-button,
  .control-room-button,
  .instruments-button,
  .software-button {
    border-bottom: 1px #9999A1 solid;
  }
  .microphones-button:hover,
  .outboard-button:hover,
  .control-room-button:hover,
  .instruments-button:hover,
  .software-button:hover {
    background-color: #F4F4F6;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px #9999A1 solid;
    animation: move-me 700ms linear;
  }
  .other-button:hover {
    background-color: #F4F4F6;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    animation: move-me 700ms linear;
  }
  .microphones-list,
  .outboard-list,
  .control-room-list,
  .instruments-list,
  .software-list,
  .other-list {
    float: right;
    clear: right;
    width: 48%;
    /*position: absolute;
    right: 1px;
    top: 5px;*/
  }
  .equipment-categories div ul {
    margin: 7px 5px;
  }
  .equipment-categories div li {
    text-align: left;
    color: #66666E;
  }
}

/*For screens above 600px*/
@media screen and (min-width:600px) {
  .menu {
    height: 227px;
  }
  .photo-lane {
    padding-bottom: 47%;
  }
  .facebook {
    right: 160px;
  }
  .twitter {
    right: 90px;
  }
  .instagram {
    right: 20px;
  }
  .linkedin {
    left: 20px;
  }
  .googleplus {
    left: 90px;
  }
  .youtube {
    left: 160px;
  }
}

/*For screens above 650px*/
@media screen and (min-width:650px) {
  .menu {
    height: 225px;
  }
  .photo-lane {
    padding-bottom: 43%;
  }
}

/*For screens above 700px*/
@media screen and (min-width:700px) {
  .menu {
    height: 219px;
  }
  .photo-lane {
    padding-bottom: 39%;
  }
  .contact-logo {
    float: left;
    margin-left: 55px;
    padding: 15px 0;
  }
  .contact-info ul {
    float: right;
    margin-top: 5px;
    margin-right: 55px;
    padding: 0;
  }
    .contact-info ul li {
    display: block;
}

/*For screens above 750px*/
@media screen and (min-width:750px) {
  .menu {
    height: 215px;
  }
  .photo-lane {
    padding-bottom: 36%;
  }
}

/*For screens above 800px*/
@media screen and (min-width:800px) {
  .menu {
    height: 210px;
  }
  .photo-lane {
    padding-bottom: 33%;
  }
}

/*For screens above 850px*/
@media screen and (min-width:850px) {
  .logo-icon-holder {
    display: inline;
  }
  .logo-text-holder {
    display: inline;
  }
  .menu-icon-holder {
    display: none;
    width: 1%;
  }
  .menu {
    height: 0;
    float: right;
    position: static;
    display: inline;
    width: 62%;
    margin-top: -40px;
    margin-right: 0;
  }
    .menu li {
      float: left;
      display: inline;
      width: auto;
      margin-left: 20px;
      background: none;
      border: none;
    }
    .menu li a {
      color: #000;
      display: block;
      font-weight: 400;
      text-align: center;
    }
      .menu li a:hover {
        border-top: 3px solid #F5BB00;
      }
    .aboutus {
      position: static;
    }
    .services {
      position: static;
    }
    .equipment {
      position: static;
    }
    .engineers {
      position: static;
    }
    .contact {
      position: static;
    }
    .equipment a {
      border-top: 3px solid #F5BB00;
    }
    .aboutus a,
    .services a,
    .engineers a,
    .contact a {
      border-top: 3px solid rgba(245,187,0,0);
    }
  .photo-lane {
    padding-bottom: 30%;
  }
  .contact-info ul {
  margin-top: -3px;
}
  .contact-info ul li {
  display: inline-block;
  margin-left: 30px;
}
.phone {
  padding-right: 30px;
  border-right: 1px solid #000;
}

/*For screens above 900px*/
@media screen and (min-width:900px) {
  .menu {
    width: 59%;
  }
    /*.menu li {
      width: 17%;
      margin-left: 5px;
    }*/
  .photo-lane {
    padding-bottom: 27%;
  }
}

/*For screens above 950px*/
@media screen and (min-width:950px) {
  .menu {
    width: 56%;
  }

/*For screens above 1000px*/
@media screen and (min-width:1000px) {
  .menu {
    width: 53%;
  }

/*For screens above 1024px*/
@media screen and (min-width:1024px) {
  .menu {
    width: 52%;
  }
  .photo-lane {
    padding-bottom: 24%;
  }
}

/*For screens above 1050px*/
@media screen and (min-width:1050px) {
  .menu {
    width: 51%;
  }
}

/*For screens above 1100px*/
@media screen and (min-width:1100px) {
  .menu {
    width: 55%;
  }
  .logo-icon {
    margin-left: 7px;
  }
  .logo-text {
    font-size: 0.9em;
    letter-spacing: 0.7px;
    margin-top: -5px;
  }
  .menu {
    width: 49%;
  }
}

/*For screens above 1150px*/
@media screen and (min-width:1150px) {
  .menu {
    width: 47%;
  }

/*For screens above 1200px*/
@media screen and (min-width:1200px) {
  header {
    position: fixed;
  }
  .logo-icon{
    margin-left: 15px;
  }
  .logo-text {
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: -7px;
  }
  .menu {
    width: 50%;
  }
    .menu li {
      width: auto;
      margin: 0 0 0 40px;
    }
  .photo-lane {
    padding-bottom: 22%;
  }
  .who-we-are h2 {
  padding-top: 30px;
  }
  .who-we-are p {
  padding-bottom: 30px;
  }
}

/*For screens above 1250px*/
@media screen and (min-width:1250px) {
  .menu {
    width: 47%;
    margin-right: 15px;
  }
}

/*For screens above 1275px*/
@media screen and (min-width:1275px) {
  .menu {
    width: 46%;
  }
}

/*For screens above 1300px*/
@media screen and (min-width:1300px) {
  .menu {
    width: 44%;
  }
}

/*For screens above 1350px*/
@media screen and (min-width:1350px) {
  .menu {
    width: 43%;
  }
}

/*For screens above 1920px*/
@media screen and (min-width:1920px) {
  .menu {
    width: 31%;
  }
}
